.wrapper {
  display: flex;
  flex-direction: column;
}

.buttonTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;

  .blockDescription {
    display: grid;
    grid-template-columns: 65px 1fr;
    flex-direction: row;
  }
}
