.wrapper {
  flex: 1 0 150px;
  font-size: 15px;
  border-width: 2px;
  border-radius: 8px;
  overflow: hidden;

  .variableInput {
    width: 100%;
    outline: none;
    padding: 5px 5px 5px 10px;
  }
}